{% extends 'layouts/page.njk' %}
{% block beforeContent %}
  <a href="/plant-health/country-search?searchQuery={{searchQuery.value}}&fullSearchQuery={{fullSearchQuery.value}}&&hostRef={{hostRef}}&&eppoCode={{eppoCode}}&&countrySearchQuery={{countrySearchQuery.value}}&emptyCountrySearchQuery=false&format={{format}}&countryCode={{countryCode}}" class="govuk-back-link" type='button'>Back</a>
<script>
 globalThis.onbeforeprint=function()
  {
    console.log("comes into js file")
  var style =document.createElement('style');
  style.type='text/css';
  style.innerHTML = '@media print {a[href]:after {content: none !important; } a {text-decoration :none;  color:black;  }  }';
    document.head.appendChild(style);
  }
  </script>
{% endblock %}
{% block content %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {% if errors.list %}
    {{ govukErrorSummary(errors.list) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if format.toLowerCase() === 'parts of a plant'%}
      {% set newFormat = 'parts of plants'%}
      {%else%}
      {%set newFormat = format%}
      {% endif %}
      {% set data = {
      result: result,
      mainContent: mainContent,
      searchQuery: searchQuery,
      commonNames: commonNames,
      synonymNames: synonymNames,
      preferredName: preferredName,
      eppoCode: eppoCode
      } %}
      {% include "partials/identity.njk" %}
      <h2 class="govuk-heading-l govuk-!-padding-top-3">
        {{mainContent.importRulesHeaderText1}} {{searchQuery.value | replace(")", "")  | capitalize}} {{mainContent.importRulesHeaderText2}} {{countrySearchQuery.value }}
      </h2>
      {% if (outcome) and (outcome.toLowerCase() === 'prohibited') %}
        {% if (annexSixRule) and (annexSixRule === 'INNS') %}
          {% set data = {
          result: result,
          mainContent: mainContent,
          countrySearchQuery: countrySearchQuery,
          format: newFormat,
          searchQuery: searchQuery,
          urlText: "apply for a permit to move your goods.",
          url: "https://www.gov.uk/government/publications/invasive-alien-species-permit-application",
          urlText1: "rules in England and Wales for invasive non-native plant species.",
          url1: "https://www.gov.uk/guidance/invasive-non-native-alien-plant-species-rules-in-england-and-wales"
          } %}
          {% include "partials/import-rules.njk" %}
        {% else %}
        {% if (annexSixRule) and (annexSixRule !== 'INNS') %}
          {% set data = {
          result: result,
          mainContent: mainContent,
          countrySearchQuery: countrySearchQuery,
          format: newFormat,
          searchQuery: searchQuery,
          urlText: "apply for authorisation to import your goods.",
          url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
          } %}
          {% include "partials/import-rules.njk" %}
        {% endif %}
        {%endif%}
      {% else %}
      {% if (outcome) and (outcome === 'partially-prohibited')%}
            {% set data = {
            processedData: processedData,
            checkProcessedData: checkProcessedData,
            removedProcessedData: removedProcessedData,
            ulIndicatorFlag: ulIndicatorFlag,
            result: result,
            mainContent: mainContent,
            countrySearchQuery: countrySearchQuery,
            format: newFormat,
            searchQuery: searchQuery,
            ulIndicatorList: ulIndicatorList,
            urlText: "apply for authorisation to import your goods.",
            url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
            } %}
            {% include "partials/partially-prohibited-with-exceptions.njk" %}
            {% if result.isEUSL === 'true'%}
            {% include "partials/partially-prohibited-eusl-import-rules.njk" %}
            {% else %}
            {% if result.isEUSL === 'false'%}
            {% include "partials/partially-prohibited-non-eusl-import-rules.njk" %}
            {% endif %}
            {% endif %}
        {%endif%}
      {% if (outcome) and (outcome === 'un-prohibited') %}
          {% set data = {
          result: result,
          mainContent: mainContent,
          countrySearchQuery: countrySearchQuery,
          removedProcessedData: removedProcessedData,
          format: newFormat,
          searchQuery: searchQuery,
          urlText: "apply for authorisation to import your goods.",
          url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
          } %}
          {% if result.isEUSL === 'true'%}
          {% include "partials/unprohibited-eusl-import-rules.njk" %}
          {% else %}
          {% include "partials/unprohibited-non-eusl-import-rules.njk" %}
          {% endif %}
      {% endif %}
      {% endif %}
      <h2 class="govuk-heading-l">
       {{mainContent.pestHeader}}
      </h2>
      {% if (qnPests.length === 0) %}
        <p class="govuk-body-m">{{mainContent.pestContentText1}} {{countrySearchQuery.value | capitalize}} {{mainContent.pestContentText2}}.</p>
      {% else %}
         <p class="govuk-body">
         {% if (annexSixRule) and (outcome.toLowerCase() === 'prohibited') %}
          {{mainContent.pestNewContent2}}
         {%elif (annexSixRule) and (annexSixRule === 'INNS') %}
          {{mainContent.pestINNSContent}}
         {% else %}
           {{mainContent.pestNewContent1}}
          {% endif %}
        </p>
          <p class="govuk-body">
            {{mainContent.pestContentHundredPercentText5}}
            <a class="govuk-link"
                  href="https://www.gov.uk/guidance/contact-apha#plant-and-tree-pests-and-diseases-">report any suspicions</a> of the pests or diseases to the relevant authority.
          </p>
          <p>{{mainContent.pestContentHundredPercentText6}}</p>
          <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{mainContent.pestContentScientificHeader}}</th>
              <th scope="col" class="govuk-table__header">{{mainContent.pestContentCommonHeader}}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in pest_names %}
              {% if (item.pest_country['STATUS'] === 'Present') or (item.pest_country['STATUS'] === 'Present (Limited)') or (item.pest_country['STATUS'] === 'Present (Unknown Distribution)') or (item.pest_country['STATUS'] === 'Present (Widespread)') %}
                <tr class="govuk-table__row">
                  {% if (item.quarantine_indicator !== '' and item.quarantine_indicator !== null) and item.quarantine_indicator !== "R"%}
                    {% if item.regulation_category === "Pest free area quarantine pests (Annex 3)" %}
                      <td class="govuk-table__cell"><a class="govuk-link"   href="/pest-details?getcsl={{item.csl_ref}}"> {{item.name[0].NAME}}</a>
                        <br>
                        <br>
                        <p class="govuk-body-s">This pest is only a concern in <a href="https://www.legislation.gov.uk/eur/2019/2072/annex/III">certain areas of Great Britain.<a></p>
                      </td>
                    {% else %}
                      <td class="govuk-table__cell"><a class="govuk-link"  href="/pest-details?getcsl={{item.csl_ref}}">{{item.name[0].NAME}}</a></td>
                    {% endif %}
                    {% if item.name[1].NAME.length > 0 %}
                      <td class="govuk-table__cell">{{item.name[1].NAME}}</td>
                    {% else %}
                      <td class="govuk-table__cell">{{mainContent.noneText}}</td>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if (rnqpPests.length > 0) and (outcome === 'partially-prohibited' or outcome === 'un-prohibited')%}
          <p class="govuk-body">
            <h2 class="govuk-heading-l">
              {{mainContent.RNQPPestHeader}}
            </h2>
            <p class="govuk-body">{{mainContent.RNQPPestContent}}</p>
          </p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{mainContent.pestContentScientificHeader}}</th>
                <th scope="col" class="govuk-table__header">{{mainContent.pestContentCommonHeader}}</th>
                <th scope="col" class="govuk-table__header">{{mainContent.pestContentFormatHeader1}} {{searchQuery.value | replace(")", "") | capitalize}}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for item in pest_names %}
                <tr class="govuk-table__row">
                  {% if (item.quarantine_indicator !== '' and item.quarantine_indicator  !== null) and (item.quarantine_indicator === "R") and (format === "plants for planting")  %}
                    <td class="govuk-table__cell">  <a class="govuk-link"  href="/pest-details?getcsl={{item.csl_ref}}">{{item.name[0].NAME}}</a></td>
                  {% if item.name[1].NAME.length > 0 %}
                    <td class="govuk-table__cell">{{item.name[1].NAME}}</td>
                  {% else %}
                    <td class="govuk-table__cell">{{mainContent.noneText}}</td>
                  {% endif %}
                  <td class="govuk-table__cell">
                    {{item.regulated_indicator | replace('\n', '<br>') | safe }}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Find another plant or pest",
        href: "/?findanotherpest=true"
      }) }}
    </div>
  </div>

  {% set supportSection = {
    title: getHelpSection.titleText,
    supportMail: getHelpSection.supportUrl.href,
    email: getHelpSection.supportUrl.email,
    description: getHelpSection.supportUrl.text
  } %}
  {% include "partials/get-help.njk" %}
  {% endcall %}
{% endblock %}
