{% extends 'layouts/page.njk' %}
{% block beforeContent %}
 <a href='/plant-health/purpose-of-visit' class="govuk-back-link" type='button'>Back</a>
 <script>
 globalThis.onbeforeprint=function()
  {
    console.log("comes into js file")
  var style =document.createElement('style');
  style.type='text/css';
  style.innerHTML = '@media print {a[href]:after {content: none !important; } a {text-decoration :none;  color:black;  }  }';
    document.head.appendChild(style);
  }
  </script>
{% endblock %}
{% block content %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors.list %}
   <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#my-autocomplete">{{errorMessage.message.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  {% endif %}
  <form action='/plant-health/pest-search' method="get">
    <div aria-label="pestsearchform" class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label id="pestsearch1" class="govuk-label govuk-label--l" for="pestsearch1">
         What pest or disease do you want to find out about?
        </label>
      </h1>
       <label id="pestsearchhint" class="govuk-label" for="pestsearchhint">
       {{mainContent.searchText1}}
      </label>
      <label id="pestsearchhint" class="govuk-label" for="pestsearchhint">
       {{mainContent.searchText2}}
      </label>
{% if errorMessage.message %}
      <p id="event-name-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{errorMessage.message.text}}
  </p>
{% endif %}
   <div id="my-autocomplete-pest-container"><input aria-label="defaultValue" id="defaultValue"  style="display:none;" value='{{pestFullSearchQuery.value}}'></input><input aria-label="cslRef" id="cslRef" for ="searchResults" name="cslReff" style="display: none;" value={{cslRef}}></input></div>
  </div>
  {% if invalidPestSearchEntry %}
    <div>
    <h2 class="govuk-heading-l govuk-!-padding-top-1">
      {{mainContent.invalidSearchHeader}} '{{pestsearchQuery.value}}'
    </h2>
    <p class="govuk-body">{{mainContent.invalidSearchContent1}}</p>
    <p class="govuk-body">{{mainContent.invalidSearchContent2}}</p>
    </div>
  {% endif %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      id: "submitButton"
    }) }}
  </form>

  {% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
  {% include "partials/get-help.njk" %}

  {% endcall %}
{% endblock %}
