{% extends 'layouts/page.njk' %}
{% block beforeContent %}
  <a href="/" class="govuk-back-link" type='button'>Back</a>
  <script>
 globalThis.onbeforeprint=function()
  {
    console.log("comes into js file")
  var style =document.createElement('style');
  style.type='text/css';
  style.innerHTML = '@media print {a[href]:after {content: none !important; } a {text-decoration :none;  color:black;  }  }';
    document.head.appendChild(style);
  }
  </script>
{% endblock %}
{% block content %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% call appPageBody() %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors.list %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#whereareyouimportinginto">{{errorMessage.message.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  {% endif %}
<form  id="itembox" action='/plant-health/import-confirmation' method="get"  name="radios">
{{ govukRadios({
  name: "whereareyouimportinginto",
  id: "whereareyouimportinginto",
  errorMessage: errorMessage.message,
  fieldset: {
    legend: {
      text: mainContent.headerText,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "gb",
      text:  mainContent.radioButtonText1,
      checked: radiobuttonValue === 'gb'
    },
    {
      value: "ni",
      text: mainContent.radioButtonText2,
      checked: radiobuttonValue === 'ni'
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: mainContent.buttonText
}) }}
</form>
{% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
{% include "partials/get-help.njk" %}
{% endcall %}
{% endblock %}
