{% extends 'layouts/page.njk' %}
{% block beforeContent %}
  <a href="/plant-health/import-confirmation?whereareyouimportinginto=gb&searchQuery={{searchQuery.value}}&fullSearchQuery={{fullSearchQuery.value}}&&countryCode={{countryCode}}" class="govuk-back-link" type='button'>Back</a>
<script>
 globalThis.onbeforeprint=function()
  {
    console.log("comes into js file")
  var style =document.createElement('style');
  style.type='text/css';
  style.innerHTML = '@media print {a[href]:after {content: none !important; } a {text-decoration :none;  color:black;  }  }';
    document.head.appendChild(style);
  }
  </script>
{% endblock %}
{% block content %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors.list %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#my-autocomplete">{{errorMessage.message.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  {% endif %}
  <form action='/plant-health/country-search' method="get" autocomplete="off">
   <input aria-label ="hostRef" id="hostRef" name="hostRef" style="display: none;" value={{hostRef}}></input>
    <input aria-label ="eppoCode" id="eppoCode" name="eppoCode" style="display: none;" value={{eppoCode}}></input>
    <input aria-label ="searchQuery" id="searchQuery" name="searchQuery" style="display: none;" value='{{searchQuery.value | replace(")", "")}}'></input>
    <input aria-label ="fullSearchQuery" id="fullSearchQuery" name="fullSearchQuery" style="display: none;" value='{{fullSearchQuery.value}}'></input>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label id ="countrysearch1" class="govuk-label govuk-label--l" for="countrysearch1">
          {{mainContent.headerText1}} {{searchQuery.value  | replace(")", "") }}  {{mainContent.headerText2}}
        </label>
      </h1>
      <label id ="countrysearch2" class="govuk-label govuk-!-padding-bottom-2" for="countrysearch2">
        {{mainContent.searchText1}}
      </label>
      <label  id ="countrysearch3" class="govuk-label govuk-!-padding-bottom-2" for=""countrysearch3"">
        {{mainContent.searchText2}}
      </label>
      <label  id ="countrysearch3" class="govuk-label" for=""countrysearch3"">
        {{mainContent.searchText3}}
      </label>
      <div class="govuk-inset-text">
        {{mainContent.searchText4}}
        <br>
        {{mainContent.searchText5}}
      </div>
      {% if errorMessage.message %}
      <p id="event-name-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{errorMessage.message.text}}
  </p>
{% endif %}
<div id="my-autocomplete-country-container"><input aria-label="defaultValue" id="defaultValue"  style="display:none;" value='{{countrySearchQuery.value}}'></input><input aria-label="countryCode" id="countryCode" for="countryCode" name="countryCodeOne" style="display: none;" value={{countryCode}}></input>
    <input aria-label ="emptyCountrySearchQuery" class="govuk-input" id="emptyCountrySearchQuery" name="emptyCountrySearchQuery" autocomplete="off" type="text"  style="display: none;">
  </div>
  </div>
  {% if invalidCountrySearchEntry %}
    <div>
    <h2 class="govuk-heading-l govuk-!-padding-top-1">
      {{mainContent.invalidSearchHeader}} '{{invalidSearchEntry}}'
    </h2>
    <p class="govuk-body">{{mainContent.invalidSearchContent1}}</p>
    <p class="govuk-body">{{mainContent.invalidSearchContent2}}</p>
    </div>
  {% endif %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      id: "submitButton"
    }) }}
  </form>

  {% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
  {% include "partials/get-help.njk" %}

  {% endcall %}
{% endblock %}
